@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div style="font-size:25px;">
            <b>Great Rockbands</b>
        </div>
        <ol>
            @{
                foreach (var rockband in ViewBag.rockbands)
                {
                    <li>@rockband</li>
                }
            }
        </ol>
    </div>
</body>
</html>