@model L07_HTML_helpers.Models.Exercise02.ParkingTicketMachine

<h2>Parking Ticket</h2>

<p>Time issued: @Html.DisplayFor(m => m.TimeNow)</p>
<p>Parking paid until: @Html.DisplayFor(m => m.PaidUntil)</p>