@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Time calculator</title>
</head>
<body>
<div>
    <div style="font-size: 25px;"><b>Time Calculator (in seconds)</b></div>
    @ViewBag.Hours hours + @ViewBag.Minutes minutes + @ViewBag.Seconds seconds = 
    @ViewBag.Total seconds in total
</div>
</body>
</html>